<form action="/live" method="post">
  <select name="area">
    <% @areas.each_with_index do |area, i| %>
      <option value="<%= area %>"><%= @area_nicenames[area] %></option>
    <% end %>
  </select>

  going

  <select name="direction">
    <% @directions.each_with_index do |direction, i| %>
      <option value="<%= direction %>"><%= @direction_nicenames[direction] %></option>
    <% end %>
  </select>

  <button type="submit">Get bus times</button>
</form>
