<p>There's no need to wait at bus stops at night - UOYBus will tell you the live running times of #4 and #44.</p>

<form action="/live" method="post">
  I'm at
  <select name="area">
    <% @areas.each_with_index do |area, i| %>
      <option value="<%= area %>"><%= @area_nicenames[area] %></option>
    <% end %>
  </select>

  going
  <select name="direction">
    <% @directions.each_with_index do |direction, i| %>
      <option value="<%= direction %>"><%= @direction_nicenames[direction] %></option>
    <% end %>
  </select>

  <button type="submit">Get bus times</button>
</form>
